<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <table border="1">
        <thead>
            <th>
                Seq
            </th>
            <th>
                Matricula
            </th>
            <th>
                Nome
            </th>
        </thead>
        <tbody>
            <tr>
                <td>
                    0001
                </td>
                <td>
                    123.456.789
                </td>
                <td>
                    Jorge dos Santos
                </td>
            </tr>
            <tr>
                <td>
                    0001
                </td>
                <td colspan="2">
                    qualquer informacao
                </td>
         
            
            </tr>
            <tr>
                <td rowspan="2">oiii</td>
                <td colspan="2"> aaaaa</td>
            </tr>
            <tr>
                <td colspan="2"> tchauuuu</td>
            </tr>
        </tbody>
    </table>




</body>

</html>